# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.kmw9533_HW_Week04.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\spring2021\codeLab01\week04\kmw9533_HW_Week04\.idea\.idea.kmw9533_HW_Week04\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
